.pc
{
	background-color: #ecf0f1 ;

}
.one{
	background-color: #252d3f;
	height: 140px;
	color: white
}

.two{
	margin-top: -80px; 
}

.three{
	width: 50px;
	height: 30px;
}
.four{
width: 500px;
height: 30px; 

}
.five
{ 
	width: 20px;
	height: 20px;
}
