body
{
	background-color: powderblue;
}
h1
{
	background-color: yellow;	
}
.l
{
	background-color: yellow;
}
.y
{
	background-color: powderblue;
}
.n
{
	background-color: powderblue;
}
.t
{
	background-color: pink;
}
.j
{
	background-color: powderblue;
}
.p
{
	background-color: pink;
}